# Create the virtual environment using uv if it doesn't exist.
if [ ! -d .venv ]; then
  uv venv .venv
fi

source .venv/bin/activate

# Synchronize the virtual environment with the dependencies specified in pyproject.toml.
uv sync
